
.hotelInfo{
    width: 50%;
    box-sizing: border-box;
    display: inline-block;
    padding: 1.25rem;
    border-right: 1px solid #EDEFF2;
}

.roomInfo{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: start;
    justify-items: center;
}
.roomName{
    width: 100%;
    margin-left: 1rem;
}

.roomName h4{
    margin: 0;
    font-family: pretendard;
    font-size: 1.25rem;
    color: #303030;
    font-weight: 600;
}
.roomName p{
    font-size: 0.9rem;
    font-weight: 500;
    color: #303030;
}
.totalpriceTable{
    box-sizing: border-box;
    width: 100%;
}
.totalpriceTable td{ 
    font-family: pretendard;
    font-size: 0.9rem;
    color: #303030;
    width: 50%;
    height: 1.5rem;
}
.totalpriceTable tr td:last-child{
    text-align: right;
}

