
.infoBox{
    width: 90%;
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px #5474C712;
    border: 1px solid #EDEFF2;
}
.userinfo{
    font-family: pretendard;
    font-size: 1.5rem;
}
.user_name{
    font-weight: 600;
}

.grade{
    font-size: 14px;
    background-color: #3966B7;
    border-radius: 4px;
    letter-spacing: 0.1em;
    padding: 0.25rem 0.5rem;
    color: white;
}

.userTable td{
    font-family: pretendard;
    padding-top: 1rem;
    padding-right: 1.25rem;
    font-size: 1rem;
}


.infoBtn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}
