.recommandItem{
    padding: 0.5rem 1.125rem;
    border-right: 1px solid #EDEFF2;
    width: 30%;
}
.recommandBox{
    display: grid;
    grid-template-columns: 30% 70%;
}
.lodgement_img{
    width: 6.8rem;
    height: 7.5rem;
    border-radius: 0.5rem;
}
.recommandItem:last-child, .recommandItem:nth-child(3){
    border-right: none;
}
.lodgement_name{
    font-size: 1rem;
    font-weight: 600;
}
.priceInfoBox{
    padding: 0 0.5rem;
}
.infoBox{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: end;
}
.countBox{
    text-align: left;
    font-weight: 600;
}
.Count{
    font-size: 0.8125rem;
    font-weight: 500;
    color: #A4A4A4;
}
.priceBox{
    text-align: right;
}
.dcRate{
    color: #EA5D5D;
    font-weight: 600;
    font-size: 0.9rem;
}
.priceTxt{
    color: #A4A4A4;
    font-size: 0.8125rem;
    text-decoration-line: line-through;
}
.salePrice{
    font-size: 0.985rem;
    font-weight: 500;
    color: #303030;
}
.roomSalePrice{
    font-weight: 700;
}
