.roomPriceInfo{
    width: 24rem;
    background-color: #fff;
    border: 1px solid #EDEFF2;
    box-shadow: 0px 2px 4px 0px #5474C712;
    border-radius: 8px;
    margin-top: 1rem;
    cursor: pointer;
}

.roomInfo{
    border-bottom: 1px solid #F1F1F1;
}
.roomImg{
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 12.5rem;
}
.roomName{
    width: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1.25rem;
    color: #303030;
    position: relative;
}
.standardBox{
    padding: 0.25rem;
    border: 1px solid #E5E5E5;
    max-width: 7rem;
    margin-top: 0.5rem;
}
.standardBox p{
    font-size: 0.9rem;
    color: #707070;
    margin: 0;
}

.roomName h4{
    margin: 0;
    font-family: pretendard;
    font-size: 1.25rem;
    color: #303030;
    font-weight: 600;
}

.hotelPriceBox{
    padding: 1rem 1.25rem;
}
.discount{
    font-family: pretendard;
    text-align: right;
    font-size: 0.9rem;
    font-weight: 500;
}
.percent{
    color: #EA5D5D;
    margin-right: 0.25rem;
    font-weight: 700;
}
.listPrice{
    color: #A4A4A4;
    text-decoration: line-through;
}
.kinds{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    align-content: center;
}
.kinds p{
    font-size: 1rem;
    color: #303030;
    font-weight: 600;
    width: 100%;
}
.availTime{
    color: #A1A1A1;
    font-weight: 500;
    font-size: 0.9rem;
    font-family: pretendard;
}
.typeName{
    text-align: left;
}
.salePrice{
    text-align: right;
    font-size: 1rem;
    color: #303030;
}
.hotelSalePrice{
    font-weight: 700;
}
.discountBox{
    text-align: right;
}