.pointBox{
    width: 80%;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    border: 1px solid #EDEFF2;
    box-shadow: 0px 2px 4px 0px #5474C712;
    border-radius: 8px;
    margin-bottom: 1rem;
}
.pointBox div:first-child{
    border-right: 1px solid #EDEFF2;
}
.pointBox div{
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.125rem;
    line-height: 1.5rem;
}
.pointBox div p:last-child{
    color: #3966B7;
    font-weight: 600;
}
.pointTitle, .couponTitle{
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.6rem;
}
.pointList ,.couponList{
    width: 80%;
    background-color: white;
    border: 1px solid #EDEFF2;
    box-shadow: 0px 2px 4px 0px #5474C712;
    border-radius: 8px;
}
.pointTable, .couponTable{
    width: 100%;
    border-collapse: collapse;
}
.pointTable tr, .couponTable tr{
    border-bottom: 1px solid #EDEFF2;
}
.pointTable td, .couponTable td{
    width: 50%;
    padding: 1rem;
    font-family: pretendard;
}
.pointTable td:last-child, .couponTable td:last-child{
    text-align: right;
}
.pointTable td p:first-child{
    font-size: 1.125rem;
}
.pointTable td p:last-child, .couponDate{
    font-size: 0.9rem;
}
.pointUsed{
    color: #FF5F5F;
}
.couponPercent{
    font-size: 1.25rem;
    color: #3966B7;
}
.coupon{
    display: none;
}