.notFoundBox{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.notFoundTxt{
    font-weight: 600;
    font-size: 1rem;
    margin: 1rem 0;
}
.homeBtn{
    border: 1.5px solid #3966B7;
    background-color: white;
    padding: 0.7rem;
    border-radius: 0.25rem;
    font-family: pretendard;
    color: #3966B7;
    font-size: 0.9rem;
    font-weight: 600;
}