.wishBox{
    width: 24rem;
    border: 1px solid #EDEFF2;
    box-shadow: 0px 2px 4px 0px #5474C712;
    background: #FFFFFF;
    border-radius: 0.75rem;
    position: relative;
    display: inline-block;
    margin-right: 0.875rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.wishImg{
    width: 24rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    height: 11.375rem;
}
.wishIcon{
    position: absolute;
    transform: translate(-54px, 10px);
}
.wishTable{
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    table-layout: fixed;
}
.wishTable td{
    font-family: pretendard;
    width: 50%;
}
.listPrice, .price, .close{
    text-align: right;
}
.hotelName ,.price{
    font-weight: 600;
    font-size: 1rem;
    color: #303030;
}
.percent ,.discount{
    font-size: 0.875rem;
    font-weight: 600;
}
.percent{
    color: #4365A2;
}
.discount{
    color: #A1A1A1;
    text-decoration: line-through;
}
.standard{
    font-size: 0.875rem;
    color: #707070;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.wishBtn{
    position: absolute;
    cursor: auto;
    top: 0%;
    right: 0%;
    background-color: transparent;
    border: none;
}
.Location{
    font-size: 0.8125rem;
    font-weight: 600;
    color: #636465;
    display: flex;
}
.landMark{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.locationIcon{
    margin-right: 0.375rem;
}