.roomCardArea{
    display: inline-block;
    margin-right: 0.8rem;
    margin-bottom: 1.2rem;
}

.roomCard{
    width: 24rem;
    border-radius: 0.75rem;
    box-shadow: 0px 2px 0.25rem rgba(84, 116, 199, 0.07);
    border: 1px solid #EDEFF2;
    background-color: white;
    cursor: pointer;
    position: relative;
}
.roomInfo{
    padding: 1rem;
}
p{
    margin: 0.25rem auto;
    font-family: pretendard;
}
.roomImg{
    position: relative;
    width: 24rem;
    height: 11.375rem;
    border-radius: 0.75rem 0.75rem 0px 0px;
}
.wishIcon{
    margin-right: 0.375rem;
}
.HotelName{
    font-size: 1.125rem;
    font-weight: 600;
    color: #303030;
}
.Location{
    font-size: 0.8125rem;
    font-weight: 600;
    color: #636465;
    display: flex;
}
.landMark{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hotelPrice{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: end;
    padding-top: 0.5rem;
}

.interestZone{
    text-align: left;
}

.interest{
    font-size: 0.9rem;
    color: #A4A4A4;
    font-weight: 500;
}

.priceZone{
    text-align: right;
}

.discounts{
    font-size: 0.9rem;
    font-weight: 700;
}
.discount{
    color: #EA5D5D;
}
.discountPrice{
    color: #A4A4A4;
    font-weight: 500;
    text-decoration: line-through;
}
.roomPrice{
    font-size: 1rem;
    font-weight: 500;
    color: #303030;
}
.salePrice{
    font-weight: 700;
}
.link{
    text-decoration: none;
}
.businessBox{
    border: 1px solid #EDEFF2;
    background-color: #F2F9FF;
    border-radius: 0.25rem;
    display: grid;
    grid-template-columns: 50% 50%;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 1rem;
}
.businessTitle{
    font-size: 1rem;
    font-weight: 600;
    color: #3966B7;
    text-align: left;
    margin-left: 0.25rem;
}
.businessPriceBox{
    text-align: right;
    margin-right: 0.25rem;
    width: 100%;
}
.businessRate{
    font-size: 0.9rem;
    font-weight: 700;
    color: #4365A2;
}
.businessPrice{
    color: #A4A4A4;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration-line: line-through;
}
.businessTxt{
    font-size: 1rem;
    color: #303030;
}
.businessSalePrice{
    font-size: 1rem;
    font-weight: 700;
    color: #303030;
}
.pointMark{
    display: flex;
    color: #4285F4;
    font-weight: 700;
    font-size: 0.75rem;
    align-items: center;
}
.rentZone{
    margin-bottom: 0.5rem;
}
.close{
    font-weight: 600;
}