.joinBox{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.joinTltle{
    font-size: 1.5rem;
    font-weight: 600;
}
.userTitle{
    font-family: pretendard;
    font-size: 0.9rem;
    font-weight: 600;
    color: #909090;
    text-align: left;
    width: 18rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}
.userInput{
    width: 18rem;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    padding: 0.5rem;
}
.checkLabel{
    margin: 0.25rem;
    width: 18rem;
    text-align: left;
}
.checkLabel:first-child{
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 0.25rem;
}
.checkTxt,.essentialCheck, .allCheckTxt{
    font-family: pretendard;
}

.allCheckTxt{
    font-weight: 600;
    font-size: 0.98rem;
}
.checkTxt{
    text-decoration-line: underline;
}
.essentialCheck{
    color: #3966B7;
}
.checkBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
}
.joinBtn{
    background-color: #3966B7;
    border-radius: 0.25rem;
    border: none;
    font-family: pretendard;
    color: #FFFFFF;
    font-weight: 600;
    padding: 1rem 8rem;
}