.roomoption{
    display: grid;
    grid-template-columns: 65% 35%;
    margin: 2.5rem auto;
    width: 1200px;
}
.optionBox{
    width: 100%;
    box-shadow: 0px 2px 4px 0px #5474C712;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #EDEFF2;
    border-radius: 8px;
    padding: 1.25rem;
}
.reservationInfo{
    width: 24rem;
    border: 1px solid #EDEFF2;
    box-shadow: 0px 2px 4px 0px #5474C712;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 0 auto;
    box-sizing: border-box;
}

.roomInfo{
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: start;
    justify-items: center;
    border-bottom: 1px solid #F1F1F1;
    padding: 1.25rem;
}
.roomName{
    width: 100%;
    margin-left: 1rem;
}

.roomName h4{
    margin: 0;
    font-family: pretendard;
    font-size: 1.25rem;
    color: #303030;
    font-weight: 600;
}
.roomName p{
    font-size: 0.9rem;
    font-weight: 500;
    color: #303030;
}
.totalpriceTable{
    box-sizing: border-box;
    padding: 1.25rem;
    width: 100%;
}
.totalpriceTable td{ 
    font-family: pretendard;
    font-size: 0.9rem;
    color: #303030;
    width: 50%;
    height: 1.5rem;
}
.totalpriceTable tr td:last-child{
    text-align: right;
}
.totalpriceTable tr:nth-child(2) td{
    padding-bottom: 1rem;
}

.totalPrice td{
    font-size: 1.125rem;
    font-weight: 600;
    border-top: 1px solid #EDEFF2;
    padding-top: 1rem;
}
.moveBtn{
    margin: 1rem;
}
.moveBtn button{
    box-sizing: border-box;
    width: 11.5rem;
    height: 3rem;
    box-shadow: 0px 2px 4px 0px #5474C740;
    border-radius: 4px;
    font-size: 1rem;
    font-family: pretendard;
    font-weight: 600;
}
.basketBtn{
    background-color: #FFFFFF;
    border: 1px solid #3966B7;
    color: #3966B7;
    margin-right: 1rem;
}
.payBtn{
    background-color: #3966B7;
    color: #FFFFFF;
    border: none;
}
.title{
    font-size: 1.125rem;
    font-weight: 600;
}